.container {
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    background-color: rgba(253, 253, 252, 0.541);
    
}

.nombre {
    display: flex;
    justify-content: center;
    
}

.imagen {
    display: flex;
    justify-content: center;
}